<div class="container justify-content-center text-center">

  <div class="mt-4">
    <div ngbDropdown class="d-inline-block" *ngIf="!startedPracticing">
      <button type="button" class="btn btn-lg btn-outline-primary bg-primary text-light" id="dropdownDirectionChoice" ngbDropdownToggle>
        Translation direction
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDirectionChoice">
        <button ngbDropdownItem [class.active]="selectedDirection === 'it->de'" (click)="selectDirection('it->de')">it -> de</button>
        <button ngbDropdownItem [class.active]="selectedDirection === 'de->it'" (click)="selectDirection('de->it')">de -> it</button>
      </div>
    </div>
  </div>


  <div class="mt-1">
    <div *ngIf="!startedPracticing" class="d-inline-block bg-primary">
      <div ngbDropdown [autoClose]="availableClasses.length === 1" class="d-inline-block" *ngIf="availableClasses.length > 0">
        <button type="button" class="btn btn-lg btn-outline-primary bg-primary text-light" id="dropdownClassesChoice" ngbDropdownToggle>
          Word classes
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownClassesChoice">
          <button *ngFor="let clazz of availableClasses" ngbDropdownItem [class.active]="selectedClasses.includes(clazz)" (click)="toggleSelectedClass(clazz)">{{clazz}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="my-1">
    <div *ngIf="!startedPracticing" style="max-height: 500px" class="d-inline-block">
      <div ngbDropdown [autoClose]="availableTags.length === 1" class="d-inline-block" *ngIf="availableTags.length > 0">
        <button type="button" class="btn btn-lg btn-outline-primary bg-primary text-light" id="dropdownTagsNew" ngbDropdownToggle>
          Tags
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownTagsChoice" class="scrollable-dropdown">
          <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="true" *ngFor="let tagGroup of availableTagsHierarchy.getGroupsKeys()">
              <h2 ngbAccordionHeader><button ngbAccordionButton class="p-2 bg-dark text-light">{{tagGroup}}</button></h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-0">
                    <button *ngFor="let tag of availableTagsHierarchy.getTags(tagGroup).sort()" ngbDropdownItem [class.active]="selectedTags.includes(tag)" (click)="toggleSelectedTag(tag)">{{tag}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="!startedPracticing" type="button" class="btn btn-lg btn-outline-primary bg-success text-light" [disabled]="selectedTags.length === 0 || selectedClasses.length === 0" (click)="startPracticing()">Start with selected</button>
  <br>
  <button *ngIf="!startedPracticing" type="button" class="btn btn-lg btn-outline-primary bg-success text-light mt-2" [disabled]="selectedDirection === undefined" (click)="startWithAll()">Start with ALL</button>
  <div *ngIf="startedPracticing && !finishedPracticing">
    <app-word-displayer (resultEmitter)="getWordResult($event)" [word]="currentAttempt"></app-word-displayer>
    <button *ngIf="startedPracticing" type="button" class="btn btn-lg btn-outline-primary bg-danger text-light" (click)="stopPracticing()">Stop practicing</button>
  </div>
  <div *ngIf="finishedPracticing">
    <app-results-displayer [correctAttempts]="correctAttempts" [wrongAttempts]="wrongAttempts" [skippedAttempts]="skippedAttempts"></app-results-displayer>
  </div>

  <div *ngIf="!startedPracticing && !finishedPracticing" ngbAccordion class="mt-4">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="btn-lg">Words ordering</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody class="text-start">

            <div class="form-check h5" *ngFor="let order of wordsOrdering;">
              <input *ngIf="order !== undefined" class="form-check-input" type="radio" name="ordering-radio" id="{{'ordering-radio-' + order}}" value="{{order}}"
              [checked]="selectedOrdering == order" (click)="selectedOrdering = order">
              <label *ngIf="order !== undefined" class="form-check-label" id="{{'ordering-radio-' + order}}">
                {{order}}
              </label>
            </div>

        </div>
      </div>
    </div>
  </div>

</div>


