<div *ngIf="word !== undefined" class="container justify-content-center text-center">
  <h4>translate {{word.classType}}: <strong>{{word.from}}</strong></h4>
  <div *ngFor="let _ of word.to; index as i">
    <span>
      <input type="text" pInputText [(ngModel)]="userTranslations[i]"
            placeholder="{{'translation ' + (word.to.length > 1 ? (i+1) : '')}}"
             class="form-control-lg" [disabled]="solutionsRevealed"
             [class.bg-danger]="userResults.length > 0 && !userResults[i] && !solutionsRevealed"
             [class.bg-success]="userResults.length > 0 && userResults[i] && !solutionsRevealed"
             [class.bg-light]="solutionsRevealed"
      />
    </span>
  </div>
  <div class="mt-1">
    <button type="button" class="d-inline btn btn-lg btn-outline-primary bg-primary text-light" (click)="checkTranslations()" [disabled]="solutionsRevealed">Check correctness</button>
  </div>
  <div class="mt-1">
    <button type="button" class="d-inline btn btn-lg btn-outline-primary bg-primary text-light" (click)="revealSolutions()">Reveal solution{{word.to.length > 1 ? "s" : ""}}</button>
  </div>
  <div class="mt-1">
    <button *ngIf="!attemptDone" type="button" class="d-inline btn btn-lg btn-outline-primary bg-primary text-light" (click)="resultEmitter.emit(ResultType.SKIPPED)">Skip</button>
  </div>
  <div class="mt-1">
    <button *ngIf="attemptDone" type="button" class="d-inline btn btn-lg btn-outline-primary bg-primary text-light" (click)="resultEmitter.emit(finalResult)">Next</button>
  </div>
</div>

